/*----------------------------------------------------------
 general
------------------------------------------------------------*/

/*----------------------------------------------------------
 display
------------------------------------------------------------*/
.c
  &_dn
    display none !important
  &_db
    display block !important
  &_di
    display inline !important

/*----------------------------------------------------------
 overflow
------------------------------------------------------------*/
.c
  &_oh
    overflow hidden !important
  &_ov
    overflow visible !important

/*----------------------------------------------------------
 float
------------------------------------------------------------*/
.c
  &_fl
    float left !important
  &_fr
    float right !important
  &_fn
    float none !important

/*----------------------------------------------------------
 clear
------------------------------------------------------------*/
.c
  &_cb
    clear both !important
  &_cl
    clear left !important
  &_cr
    clear right !important
  &_cn
    clear none !important

/*----------------------------------------------------------
 width
------------------------------------------------------------*/
.c
  &_wAuto
    width auto !important
  &_wMax
    width 100% !important
  &_wHalf
    width 50% !important
  &_w0
    width 0 !important
  &_w50
    width 50px !important
  &_w100
    width 100px !important
  &_w150
    width 150px !important
  &_w200
    width 200px !important
  &_w250
    width 250px !important
  &_w300
    width 300px !important
  &_w350
    width 350px !important
  &_w400
    width 400px !important
  &_w450
    width 450px !important
  &_w500
    width 500px !important
  &_w550
    width 550px !important
  &_w600
    width 600px !important
  &_w650
    width 650px !important
  &_w700
    width 700px !important
  &_w750
    width 750px !important
  &_w800
    width 800px !important
  &_w850
    width 850px !important
  &_w900
    width 900px !important
  &_w950
    width 950px !important

/*----------------------------------------------------------
 margin
------------------------------------------------------------*/

/* top
--------------------------------------------------*/
.c
  &_mt0
    margin-top 0px !important
  &_mt5
    margin-top 5px !important
  &_mt10
    margin-top 10px !important
  &_mt15
    margin-top 15px !important
  &_mt20
    margin-top 20px !important
  &_mt25
    margin-top 25px !important
  &_mt30
    margin-top 30px !important
  &_mt35
    margin-top 35px !important
  &_mt40
    margin-top 40px !important
  &_mt45
    margin-top 45px !important
  &_mt50
    margin-top 50px !important

/* left
--------------------------------------------------*/
.c
  &_ml0
    margin-left 0px !important
  &_ml5
    margin-left 5px !important
  &_ml10
    margin-left 10px !important
  &_ml15
    margin-left 15px !important
  &_ml20
    margin-left 20px !important
  &_ml25
    margin-left 25px !important
  &_ml30
    margin-left 30px !important
  &_ml35
    margin-left 35px !important
  &_ml40
    margin-left 40px !important
  &_ml45
    margin-left 45px !important
  &_ml50
    margin-left 50px !important

/* right
--------------------------------------------------*/
.c
  &_mr0
    margin-right 0px !important
  &_mr5
    margin-right 5px !important
  &_mr10
    margin-right 10px !important
  &_mr15
    margin-right 15px !important
  &_mr20
    margin-right 20px !important
  &_mr25
    margin-right 25px !important
  &_mr30
    margin-right 30px !important
  &_mr35
    margin-right 35px !important
  &_mr40
    margin-right 40px !important
  &_mr45
    margin-right 45px !important
  &_mr50
    margin-right 50px !important

/* bottom
--------------------------------------------------*/
.c
  &_mb0
    margin-bottom 0px !important
  &_mb5
    margin-bottom 5px !important
  &_mb10
    margin-bottom 10px !important
  &_mb15
    margin-bottom 15px !important
  &_mb20
    margin-bottom 20px !important
  &_mb25
    margin-bottom 25px !important
  &_mb30
    margin-bottom 30px !important
  &_mb35
    margin-bottom 35px !important
  &_mb40
    margin-bottom 40px !important
  &_mb45
    margin-bottom 45px !important
  &_mb50
    margin-bottom 50px !important
  &_mhAuto
    margin-left auto !important
    margin-right auto !important

/*----------------------------------------------------------
 float
------------------------------------------------------------*/

/* top
--------------------------------------------------*/
.c
  &_pt0
    padding-top 0px !important
  &_pt5
    padding-top 5px !important
  &_pt10
    padding-top 10px !important
  &_pt15
    padding-top 15px !important
  &_pt20
    padding-top 20px !important
  &_pt25
    padding-top 25px !important
  &_pt30
    padding-top 30px !important
  &_pt35
    padding-top 35px !important
  &_pt40
    padding-top 40px !important
  &_pt45
    padding-top 45px !important
  &_pt50
    padding-top 50px !important

/* left
--------------------------------------------------*/
.c
  &_pl0
    padding-left 0px !important
  &_pl5
    padding-left 5px !important
  &_pl10
    padding-left 10px !important
  &_pl15
    padding-left 15px !important
  &_pl20
    padding-left 20px !important
  &_pl25
    padding-left 25px !important
  &_pl30
    padding-left 30px !important
  &_pl35
    padding-left 35px !important
  &_pl40
    padding-left 40px !important
  &_pl45
    padding-left 45px !important
  &_pl50
    padding-left 50px !important

/* right
--------------------------------------------------*/
.c
  &_pr0
    padding-right 0px !important
  &_pr5
    padding-right 5px !important
  &_pr10
    padding-right 10px !important
  &_pr15
    padding-right 15px !important
  &_pr20
    padding-right 20px !important
  &_pr25
    padding-right 25px !important
  &_pr30
    padding-right 30px !important
  &_pr35
    padding-right 35px !important
  &_pr40
    padding-right 40px !important
  &_pr45
    padding-right 45px !important
  &_pr50
    padding-right 50px !important

/* bottom
--------------------------------------------------*/
.c
  &_pb0
    padding-bottom 0px !important
  &_pb5
    padding-bottom 5px !important
  &_pb10
    padding-bottom 10px !important
  &_pb15
    padding-bottom 15px !important
  &_pb20
    padding-bottom 20px !important
  &_pb25
    padding-bottom 25px !important
  &_pb30
    padding-bottom 30px !important
  &_pb35
    padding-bottom 35px !important
  &_pb40
    padding-bottom 40px !important
  &_pb45
    padding-bottom 45px !important
  &_pb50
    padding-bottom 50px !important

/*----------------------------------------------------------
 font
------------------------------------------------------------*/
.c
  &_fs20
    font-size 2rem !important
  &_fs18
    font-size 1.8rem !important
  &_fs16
    font-size 1.6rem !important
  &_fs14
    font-size 1.4rem !important
  &_fs12
    font-size 1.2rem !important
  &_fs10
    font-size 1rem !important

  &_al
    text-align left !important
  &_ac
    text-align center !important
  &_ar
    text-align right !important

  &_bold
    font-weight bold !important
  &_normal
    font-weight normal !important
