/*----------------------------------------------------------
 show
------------------------------------------------------------*/

@media $mq-sp
  .c_show-pc
    display none !important

@media $mq-pc
  .c_show-sp
    display none !important


