/*----------------------------------------------------------
 Reset
------------------------------------------------------------*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strong, sub, sup, var, b, u, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, input, textarea,
table, caption, tbody, thead, tfoot, tr, th, td,
main, article, aside, canvas, details, embed, figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5em;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  word-break: break-all;
}

h1, h2, h3, h4, h5, h6, th {
  font-size: 100%;
  font-family: inherit;
}

em  { font-style: normal; }

table  {
  border-spacing: 0;
  border-collapse: collapse;
}

table, th, td {
  text-align: left;
  border: none;
}

ul, ol, li  { list-style: none; }

img    {
  max-width: 100%;
  height: auto;
  border: 0;
  vertical-align: top;
}

input[type=text],
input[type=password],
input[type=button],
input[type=submit],
button,
select,
textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  font-size: 100%;
  color: inherit;
  line-height: inherit;
  font-family: inherit;
  font-weight: normal;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #ccc;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #ccc;
}
input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #ccc;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
}
button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

select::-ms-expand { display:none; }

*, *:before, *:after { box-sizing: border-box; }

/*----------------------------------------------------------
 Base
------------------------------------------------------------*/
html {
  font-size: 62.5%;
  overflow-y: scroll;
}

body {
  min-width: 320px;
  font-size: 1.6em;
  color: #333;
  font-family: 'Noto Sans JP', sans-serif;
}

h1, h2, h3, h4, h5, h6, th, td, small {
  font-size: 100%;
}

input, select, textarea {
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
}

/*----------------------------------------------------------
 Anchers
------------------------------------------------------------*/
a {
  color: #00f;
  text-decoration: underline;
}

@media #{$mq-pc} {
  a:hover {
    color: #f00;
    text-decoration: none;
  }
  a img { transition: .3s }
  a:hover img { opacity: .7; }
}