/*----------------------------------------------------------
 Base
------------------------------------------------------------*/
html
  font-size 62.5%
  overflow-y scroll

body
  min-width 320px
  font-size 1.6em
  color #333
  font-family 'Noto Sans JP', "メイリオ", Meiryo, "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "ＭＳ Ｐゴシック", "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif

h1, h2, h3, h4, h5, h6, th, td, small
  font-size 100%

input, select, textarea
  font-size inherit
  font-weight inherit
  font-family inherit

/*----------------------------------------------------------
 Anchers
------------------------------------------------------------*/
a
  color #00f
  text-decoration underline

@media $mq-pc
  a
    &:hover
      color #f00
      text-decoration none
      img
        opacity .7
    img
      transition .3s
