<div class="m_modal js_modal" id="">
  <div class="m_modal-outer">
    <div class="m_modal-window">
      <div class="m_modal__btnClose">Close</div>
      <div class="m_modal-main">
        
      </div>
    </div>
  </div>
</div><!--/.m_modal -->